/* Asterick wildcard selector to override default styles added by the browser */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


/* General Styles in Body */


body {
    min-height: 100vh;
    display: flex;
    height: 100%;
    width: 100%;
    /* Generic project styles */
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.on-page {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* nav-toggle */


#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main */
main {
    height: 100%;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 100px;
}

#favourite-recipes {
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#something-new {
    padding-top: 50px;
    padding-left: 20;
    padding-right: 20px;
}

.bold-lettering {
    font-weight: 700;
}

/* recipe selector section */

.recipe-options {
    display: flex;
    justify-content: center;
}


/* Section 1 */

/* Section 2 */

/* Section 3 */


/* Footer */
footer {
    position: fixed;
    height: 60px;
    inset: auto 0 0 0;
    z-index: 1;
    background-color: #ffffff;
    border-top: 2px solid #3a3a3a;
}


#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}


/* Media query: mobile (up to 768px) */


@media screen and (max-width: 768px) {
    .vl {
        border-left: 2px solid #3a3a3a;
        height: 30px;
        margin-left: 15px;
        display: none;
      }
}
 

/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #page-heading {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    .vl {
        border-left: 2px solid #3a3a3a;
        height: 30px;
        margin-left: 15px;
        visibility: visible;
      }
}

/* Media query: laptops and larger (992px and up) */

@media screen and (min-width: 992px) {

    /* Header */
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

/* Media query: laptops and larger (1200px and up) */

/* @media screen and (min-width: 1200px) {

} */
